.DS_Store
*.pyc
*.egg-info
*.swp
tags
quiz_crm/docs/current
quiz_crm/public/dist
_pycache_/
*.py[cod]
*$py.class
node_modules
package-lock.json
quiz_crm/public/frontend
quiz_crm/www/quiz_crm.html
quiz_crm/www/_quiz_crm.html
frappe-ui
frappe-semgrep-rules